/*
.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
*/
.base {
/*	width: 484px;
	height: 540px;
	margin-top: 40px;
	margin-left: 40px;
	margin-bottom: 40px;
	width: 60vw;
	height: 90vh;
	margin-top: 2vw;
	margin-left: 2vw;
	margin-bottom: 2vw;*/
	width: 86vmin;
	height: 95vmin;
	border: 2px solid grey;
	background-color: #111111;
	margin-top: 2vmin;
	margin-left: 2vmin;
	margin-bottom: 2vmin;
}

.header {
	width: 100%;
	height: 2.2%;
	/*border: 2px solid grey;*/
	background-color: purple;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}

.mosaic {
	width: 99.5%;
	height: 88.9%;
	border: 2px solid grey;
	background-color: #dddddd;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}

.footer {
	width: 100%;
	height: 8%;
	/*border: 2px solid grey;*/
	background-color: #aaaaaa;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}

.randbutton {
	width: 30%;
	height: 70%;
	border: 2px solid grey;
	background-color: lightgrey;
	color: black;
	text-align: center;
/*	font-size: 80%;*/
	font-size: 2.5vmin;
	font-weight: bold;
	margin-left: 35%;
	margin-top: 1.5%;
	margin-bottom: 1.5%;
	padding: 1%;
}

.square {
	border: 0px;
	height: 8.3%;
	width: 8.3%;
	/*float: left;*/
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0px;
/*	font-size: 110%;*/
	font-size: 4.5vmin;
	font-weight: bold;
	text-align: center;
}

.circle {
	border: 0px;
	width: 8.3%;
	height: 8.3%;
	border-radius: 50%;
	/*float: left;*/
	/*display: flex;*/
	/*align-items: center;*/
	justify-content: center;
	text-align: center;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0;
/*	font-size: 110%;*/
	font-size: 4.5vmin;
	font-weight: bold;
}

.circle1 {
	border: 0px;
	width: 2%;
	height: 60%;
	border-radius: 50%;
	background: red;
	justify-content: center;
	float: left;
	text-align: center;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	padding: 0;
/*	font-size: 50%;*/
	font-size: 1vmin;
	font-weight: bold;
	color: blue;
}
.image {
	border: 0px;
	/*width: 70%;*/
	width: 4.5vmin;
	float: center;
	text-align: center;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0px;
}